<!-- src/app/home/home.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Welcome to drug reminder!</p>
  <ng-template [ngIf]="!auth.loggedIn">
    <p>You need to be logged to view this content</p>
  </ng-template>
  <ng-template [ngIf]="auth.loggedIn">
    <app-drug-list></app-drug-list>
  </ng-template>
</ion-content>
