<ng-template [ngIf]="loading">
  <ion-spinner></ion-spinner>
</ng-template>
<ng-template [ngIf]="!loading">
  <div *ngFor="let drug of drugs">
    <ion-card *ngIf="drug">
      <img [src]="drug.imageUrl" />
      <ion-card-header>
        <ion-card-title>{{ drug.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button [href]="'/details/' + drug.name" routerDirection="forward">Voir la fiche produit</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ng-template>
