<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="drug">
    <img [src]="drug.imageUrl">
    <ion-card-header>
      <ion-card-title>{{ drug.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="drug.unite === 'heure'">Delay: {{ drug.delay }} h</p>
      <p *ngIf="drug.unite === 'semaine'">Delay: {{ drug.delay }} w</p>
      <p>Dose: {{ drug.dose }} mg</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="onClick()">Program Reminder</ion-button>
</ion-content>
