<!-- src/app/home/home.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="auth.loading" class="ion-text-center">Loading...</p>
  <ng-template [ngIf]="!auth.loading">
    <!-- Not loading, not logged in: show login button -->
    <ion-button
            expand="block"
            color="primary"
            *ngIf="!auth.loggedIn"
            (click)="auth.login()">Log In</ion-button>
    <!-- Not loading, logged in: show profile and logout button -->
    <ng-template [ngIf]="auth.loggedIn">
      <ion-card *ngIf="auth.user">
        <img [src]="auth.user.picture">
        <ion-card-content>
          <ion-card-title>{{ auth.user.name }}</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-button
              expand="block"
              color="danger"
              (click)="auth.logout()">Log Out</ion-button>
    </ng-template>
  </ng-template>
</ion-content>
